Repository pplevrc/web: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint

lefthook.yml:

pre-commit:
  commands:
    typecheck:
      glob: "*.{ts,tsx,js,jsx,astro}"
      exclude: .yarn
      run: yarn typecheck
      stage_fixed: true

    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      exclude: .yarn
      run: yarn biome --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

chore: remove unused utils and change placement
  src/components/commons/MarkdownContent/MarkdownContent.astro
  src/content/articles/__mock__/01-collab-202x-xx-xx/index.ts
  src/content/articles/__mock__/02-helloween-202x/index.ts
  src/content/articles/__mock__/03-new-cast-202x/index.ts
  src/content/articles/__mock__/04-vket202xs/index.ts
  src/content/guidelines/__mock__/1.ぷぷりえとは？/index.ts
  src/content/guidelines/__mock__/2.参加方法/index.ts
  src/content/guidelines/__mock__/3.ファン活動について/index.ts
  src/content/guidelines/__mock__/4.店員さん募集/index.ts
  src/content/guidelines/__mock__/5.コラボについて/index.ts
  src/lib/utils/cache.ts
  src/lib/utils/html/img.ts
  src/lib/utils/html/markdown.ts
  src/lib/utils/temporal.ts
  src/lib/utils/try.ts
  src/lib/utils/type.ts
Due: typecheck, lint

GitHub Actions CI/CD ワークフローを追加
  .github/actions/setup-node-yarn/action.yml
  .github/workflows/test.yml
Due: none

GitHub PagesデプロイとDiscord通知機能を追加
  .github/actions/discord-notification/action.yml
  .github/actions/setup-astro-cache/action.yml
  .github/workflows/deploy.yml
Due: none

GitHub Pages デプロイ用のbasePathとenvironment設定を追加
  .github/workflows/deploy.yml
  astro.config.ts
Due: typecheck, lint

GitHub ActionsワークフローとカスタムアクションにDescriptionを追加
  .github/actions/discord-notification/action.yml
  .github/actions/setup-astro-cache/action.yml
  .github/actions/setup-node-yarn/action.yml
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: none

PandaCSSコード生成ステップをtypecheckジョブに追加
  .github/workflows/test.yml
  package.json
Due: lint

Biomeエラー修正とフォーマット適用
  biome.json
  src/components/decoratives/Vectors/Icon/internals/IconCherryBlossom.astro
  src/components/layouts/HeadMeta/internals/SecurityMeta.astro
  src/components/layouts/Header/internals/HeaderLogo.astro
  src/components/pages/home/HeroSection/internals/HeroMovie.astro
  src/pages/internals/check/faces.astro
  src/pages/internals/check/heights.astro
Due: typecheck, lint

test.ymlのbuildジョブにAstroキャッシュを追加して動画ビルド時間を短縮
  .github/actions/setup-astro-cache/action.yml
  .github/workflows/test.yml
Due: none

fix: failed ci
  .github/actions/discord-notification/action.yml
Due: none

fix: GitHub ActionsでのAstroキャッシュ設定を改善
  .github/actions/setup-astro-cache/action.yml
Due: none

refactor: libディレクトリをscriptsにリネーム & アーキテクチャを整理
  astro.config.ts
  package.json
  panda.config.ts
  scripts/cleanup/purge-inline-css.ts
  scripts/cleanup/rename-remote-images.ts
  scripts/prepare/assets/videos/ffmpeg.ts
  scripts/prepare/assets/videos/transport.ts
  scripts/prepare/assets/videos/utils.ts
  scripts/styles/index.ts
  scripts/styles/tokens/animations.ts
  scripts/styles/tokens/colors.ts
  scripts/styles/tokens/commons/dimensions.ts
  scripts/styles/tokens/dimensions.ts
  scripts/styles/tokens/transforms.ts
  scripts/styles/tokens/typography.ts
  src/components/decoratives/Paper/Paper.astro
  src/components/decoratives/Sticker/NameSticker.astro
  tsconfig.node.json
Due: typecheck, lint

fix: ビルドエラーを修正してビデオメディア情報の処理を改善
  astro.config.ts
  scripts/rollup/ghost-file.ts
  scripts/rollup/index.ts
  scripts/rollup/internals/mediainfo.ts
  scripts/rollup/video-plugin.ts
  src/components/commons/ResponsiveVideo/ResponsiveVideo.astro
  src/components/commons/ResponsiveVideo/internals/ResponsiveVideoSource.astro
  src/components/pages/home/HeroSection/internals/HeroMovie.astro
  src/types/video-assets.d.ts
  tsconfig.json
Due: typecheck, lint

fix: biome changes
  src/components/decoratives/Paper/Paper.astro
  src/components/decoratives/Sticker/NameSticker.astro
Due: typecheck

fix: ベースパスを考慮したアンカーリンク修正
  src/components/decoratives/Links/SocialLink/internals/commons/IconLinkBase.astro
  src/components/domains/article/ArticleList/ArticleList.astro
  src/components/domains/avatar/DecorativeAvatarLink/DecorativeAvatarLink.astro
  src/components/domains/guideline/GuidelineLink/GuidelineLink.astro
  src/components/layouts/HeadMeta/internals/FaviconMeta.astro
  src/components/layouts/Header/internals/HeaderLogo.astro
  src/components/layouts/Header/internals/HeaderNav.astro
  src/components/pages/articles/ArticleNavigation/ArticleNavigation.astro
  src/components/pages/cast/CastNavigator/CastNavigator.astro
  src/components/pages/guidelines/GuidelineNavigation/GuidelineNavigation.astro
  src/components/pages/home/CastPickupSection/CastPickupSection.astro
  src/components/pages/home/HeroSection/internals/OverlayPopText.astro
  src/components/pages/home/NewsHeadlineSection/NewsHeadlineSection.astro
  src/lib/utils/base-path.ts
Due: typecheck, lint

fix: biome format
  src/components/layouts/Header/internals/HeaderLogo.astro
Due: typecheck

feat: GitHub Issue・PR テンプレートを追加
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/operational_issue.yml
  .github/pull_request_template.md
Due: none

feat: GitHub Actions ワークフローを最適化
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: none

fix: キャストページのアバターにアウトライン機能を追加
  src/components/domains/avatar/DecorativeAvatar/small/Small.astro
  src/components/domains/avatar/images/AvatarFaceImage.astro
Due: typecheck

fix: shuffleDom関数がページ遷移時に動作しない問題と画像ロード順序を修正
  src/lib/browsers/shuffle.ts
Due: typecheck, lint

fix: GitHub Actions並行実行制御の改善 (#34)
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: none

fix: #36 outline 0px 指定のときにビルド時の画像変換でエラー
  src/lib/services/internals/sharp.ts
Due: typecheck, lint

fix: #21 自己紹介の改行文字を <br/> に変換
  src/components/pages/cast/CastProfileSection/CastProfileSection.astro
Due: typecheck

fix: #24 basepath が含まれるとトップページのロゴ拡大スタイルが効かない
  src/components/layouts/Header/internals/HeaderLogo.astro
  src/lib/utils/base-path.ts
Due: typecheck, lint

fix: #23 店員さんの立ち絵をアップスケール
  src/components/domains/avatar/DecorativeAvatar/large/Large.astro
  src/components/domains/avatar/DecorativeAvatar/medium/Medium.astro
Due: typecheck

fix: #44 4K モニターだと立ち絵がボケる問題への対応
  src/components/decoratives/Headings/PageHeading.astro
  src/components/domains/avatar/images/AvatarFaceImage.astro
  src/components/domains/avatar/images/AvatarImage.astro
  src/components/domains/avatar/images/common.ts
  src/components/domains/guideline/GuidelineLink/GuidelineLink.astro
  src/components/domains/image/PhotoImage.astro
  src/components/pages/articles/ArticleContentSection/ArticleContentSection.astro
  src/components/pages/guidelines/GuidelineContentSection/GuidelineContentSection.astro
  src/lib/utils/image.ts
Due: typecheck, lint

chore: remove debug pages
  src/pages/internals/check/faces.astro
  src/pages/internals/check/heights.astro
Due: typecheck

update: #47 upgrade pandacss to v1
  package.json
  yarn.lock
Due: lint

fix: PandaCSS v1 マイグレーションへの対応
  src/components/decoratives/Links/SocialLink/internals/MastodonLink.astro
  src/components/decoratives/Links/SocialLink/internals/MisskeyLink.astro
  src/components/layouts/Footer/Footer.astro
Due: typecheck

update misc libs
  biome.json
  package.json
  yarn.lock
Due: lint

fix: failed biome errors
  biome.json
  scripts/cleanup/purge-inline-css.ts
  scripts/prepare/assets/videos/ffmpeg.ts
  scripts/rollup/internals/mediainfo.ts
  scripts/styles/tokens/animations.ts
  scripts/styles/tokens/colors.ts
  scripts/styles/tokens/dimensions.ts
  scripts/styles/tokens/transforms.ts
  src/components/decoratives/Links/SocialLink/SocialLink.astro
  src/components/decoratives/Vectors/Logo/LogoDefinition.astro
  src/components/decoratives/Vectors/LogoIcon/LogoIconDefinition.astro
  src/components/decoratives/Vectors/LogoIcon/internals/XLogo.astro
  src/components/domains/article/LetterLink/LetterLink.astro
  src/components/domains/avatar/images/AvatarImage.astro
  src/components/layouts/HeadMeta/HeadMeta.astro
  src/components/pages/home/HeroSection/internals/HeroMovie.astro
  src/content/articles/internals/remote.ts
  src/content/casts/__mock__/index.ts
  src/content/casts/index.ts
  src/content/casts/internals/remote.ts
  src/content/casts/loader.ts
  src/content/casts/types.ts
  src/content/commons/internals/ActivityPub.ts
  src/content/guidelines/internals/remote.ts
  src/content/meta/index.ts
  src/content/meta/internals/remote.ts
  src/content/meta/types.ts
  src/layouts/Layout.astro
  src/lib/browsers/sync.ts
  src/lib/services/internals/commons.ts
  src/lib/services/internals/sharp.ts
  src/lib/utils/random.ts
  src/pages/articles/index.astro
  src/pages/casts/[id]/index.astro
  src/pages/index.astro
Due: typecheck, lint

Update CastProfileSection.astro
  src/components/pages/cast/CastProfileSection/CastProfileSection.astro
Due: typecheck

fix: #20 スマホだと hover animation が効かない問題の対応
  scripts/styles/index.ts
  src/components/decoratives/Links/DecorativeLink/internals/center.astro
  src/components/decoratives/Links/DecorativeLink/internals/right.astro
  src/components/domains/article/LetterLink/LetterLink.astro
  src/components/domains/cast/CastList/CastList.astro
  src/components/layouts/Header/internals/HeaderLogo.astro
  src/components/pages/cast/CastNavigator/CastNavigator.astro
  src/components/pages/home/CastPickupSection/CastPickupSection.astro
Due: typecheck, lint

fix: #57 店員さんの立ち絵をタップで画像変わるようにした
  scripts/styles/index.ts
  src/components/domains/avatar/DecorativeAvatar/large/Large.astro
  src/lib/browsers/sync.ts
  src/lib/browsers/touch-active.ts
Due: typecheck, lint

fix: #59 開発環境時に動画が存在しないと、エラーが出る
  astro.config.ts
Due: typecheck, lint

refactor: #38 invoker polyfill 対応 と icon 定義のリファクタ
  package.json
  src/components/decoratives/Paper/Paper.astro
  src/components/decoratives/Sticker/NameSticker.astro
  src/components/decoratives/Vectors/Icon/Icon.astro
  src/components/decoratives/Vectors/Icon/IconDefinition.astro
  src/components/decoratives/Vectors/Icon/internals/lucide/copyright.astro
  src/components/decoratives/Vectors/Icon/internals/lucide/globe.astro
  src/components/decoratives/Vectors/Icon/internals/lucide/ids.ts
  src/components/decoratives/Vectors/Icon/internals/pple/IconCherryBlossom.astro
  src/components/decoratives/Vectors/Icon/internals/pple/IconFlower.astro
  src/components/decoratives/Vectors/Icon/internals/pple/IconFlowerOutline.astro
  src/components/decoratives/Vectors/Icon/internals/pple/IconPancake.astro
  src/components/decoratives/Vectors/Icon/internals/pple/IconPlum.astro
  src/components/decoratives/Vectors/Icon/internals/pple/IconTeaCup.astro
  src/components/decoratives/Vectors/Icon/internals/pple/IconTeaPot.astro
  src/components/decoratives/Vectors/Icon/internals/pple/ids.ts
  src/components/decoratives/Vectors/Icon/types.ts
  src/components/decoratives/Vectors/Logo/internals/PpleLogo.astro
  src/components/decoratives/Vectors/LogoIcon/internals/OtherLinkIcon.astro
  src/components/domains/article/LetterLink/LetterLink.astro
  src/components/domains/avatar/DecorativeAvatar/medium/Medium.astro
  src/components/domains/avatar/DecorativeAvatar/small/Small.astro
  src/components/layouts/HeadMeta/HeadMeta.astro
  src/components/layouts/HeadMeta/internals/Polyfill.astro
  src/components/layouts/HeadMeta/types.ts
  src/layouts/Layout.astro
  src/pages/casts/[id]/index.astro
  src/pages/casts/index.astro
  yarn.lock
Due: typecheck, lint

update: #38 コピーライト表記をアバターへ
  package.json
  src/components/decoratives/Paper/Paper.astro
  src/components/domains/cast/Copyright/Copyright.astro
  src/components/domains/cast/Copyright/internals/CopyrightButton.astro
  src/components/domains/cast/Copyright/internals/CopyrightPopover.astro
  src/components/layouts/HeadMeta/internals/Polyfill.astro
  src/components/pages/cast/CastImageSection/CastImageSection.astro
  src/components/pages/cast/CastProfileSection/CastProfileSection.astro
  src/layouts/Layout.astro
  src/lib/utils/html/string.ts
  src/pages/casts/[id]/index.astro
  yarn.lock
Due: typecheck, lint
