Repository pplevrc/web: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint

typecheck:
  run: yarn typecheck
  stage_fixed: true

lint:
  run: yarn biome --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

update: #52 CMS からの更新検知口を追加
  .github/workflows/deploy.yml
Due: none

feat: #25 Discord通知機能を実装
  .github/actions/discord-notification/action.yml
  .github/workflows/deploy.yml
Due: none

fix: failed CI by biome errors
  src/components/domains/cast/Copyright/Copyright.astro
  src/components/layouts/HeadMeta/internals/Polyfill.astro
Due: typecheck

fix: #25 デプロイ開始通知のusernameを修正
  .github/workflows/deploy.yml
Due: none

feat: #25 Issue作成時のDiscord通知を追加
  .github/workflows/notify-issue.yml
Due: none

fix: #26 Google Driveなど外部APIの画像キャッシュが効かない問題を修正
  astro.config.ts
  package.json
  scripts/server/image-proxy/index.ts
  scripts/server/image-proxy/server.ts
  scripts/server/image-proxy/type.ts
  yarn.lock
Due: typecheck, lint

fix: #68 コンテンツキャッシュ周りのロジック改善 / ログの正常化
  src/content/articles/loader.ts
  src/content/casts/loader.ts
  src/content/guidelines/loader.ts
  src/content/meta/loader.ts
Due: typecheck, lint

fix: #68 ENV からコンテンツキャッシュを削除可能にする / GitHub Actions から選択可能にする対応
  .github/workflows/deploy.yml
  src/content/articles/loader.ts
  src/content/casts/loader.ts
  src/content/guidelines/loader.ts
  src/content/meta/loader.ts
Due: typecheck, lint

fix: キャッシュクリーンしても新しい記事が取得されない
  src/content/articles/loader.ts
  src/content/casts/loader.ts
  src/content/guidelines/loader.ts
  src/content/meta/loader.ts
Due: typecheck, lint

fix: JST形式の日付文字列が正しくパースされずhasUpdateがfalseになる問題を修正
  src/content/casts/loader.ts
Due: typecheck, lint

feat: IS_PUBLIC有効時のCookie同意バナーとGoogle Analytics統合を実装
  astro.config.ts
  src/components/decoratives/Vectors/Icon/Icon.astro
  src/components/decoratives/Vectors/Icon/internals/lucide/cookie.astro
  src/components/decoratives/Vectors/Icon/internals/lucide/ids.ts
  src/components/decoratives/Vectors/Icon/types.ts
  src/components/layouts/CookieConcent/CookieConcent.astro
  src/components/layouts/CookieConcent/internals/IconButton.astro
  src/components/layouts/Footer/Footer.astro
  src/components/layouts/HeadMeta/HeadMeta.astro
  src/components/layouts/HeadMeta/internals/DescriptionMeta.astro
  src/components/layouts/HeadMeta/internals/GtmMeta.astro
  src/components/layouts/HeadMeta/internals/OgpMeta.astro
  src/components/layouts/HeadMeta/internals/SecurityMeta.astro
  src/components/layouts/HeadMeta/types.ts
  src/content/meta/__mock__/meta.ts
  src/content/meta/internals/remote.ts
  src/content/meta/types.ts
  src/layouts/Layout.astro
  src/lib/utils/env.ts
  src/lib/utils/style.ts
  yarn.lock
Due: typecheck, lint

fix: 新規コンテンツ作成時に既存コンテンツが消える問題を修正
  src/content/articles/loader.ts
  src/content/guidelines/loader.ts
Due: typecheck, lint

fix: #78 デプロイ時に GTM-ID が反映されてなーい！
  .github/workflows/deploy.yml
Due: none

fix: #71 お知らせ記事が短すぎるとリンクが隠れちゃう問題の対応
  src/pages/articles/[id]/index.astro
Due: typecheck

fix: #83 お知らせ一覧を公開日の新しい順にソート
  src/content/articles/internals/remote.ts
  src/content/guidelines/internals/remote.ts
  src/lib/utils/array.ts
  src/lib/utils/microcms.ts
  src/pages/articles/index.astro
Due: typecheck, lint

feat: #37 GitHub Pages用のカスタム404ページを実装
  src/assets/images/404.png
  src/pages/404.astro
Due: typecheck

fix: #88 XでOGP画像が表示されない問題を修正
  src/components/layouts/HeadMeta/internals/OgpMeta.astro
Due: typecheck

feat: Google Search Console所有権確認ファイルを追加
  public/googlea85d6c849ce5fc86.html
Due: none

fix: #95 タグに埋め込む方式に変更
  public/googlea85d6c849ce5fc86.html
  src/components/layouts/HeadMeta/HeadMeta.astro
  src/components/layouts/HeadMeta/internals/GoogleMeta.astro
Due: typecheck

fix: #99 yarn dev で発生する Zlib エラーを修正
  scripts/server/image-proxy/server.ts
  scripts/server/image-proxy/type.ts
  src/content/articles/internals/remote.ts
  src/content/articles/loader.ts
  src/content/casts/internals/remote.ts
  src/content/casts/loader.ts
  src/content/guidelines/internals/remote.ts
  src/content/guidelines/loader.ts
  src/content/meta/internals/remote.ts
  src/content/meta/loader.ts
  src/lib/utils/microcms.ts
Due: typecheck, lint

fix: #102 OGP メタデータシステムのリファクタリングと SNS メタデータの分離
  src/components/layouts/HeadMeta/HeadMeta.astro
  src/components/layouts/HeadMeta/internals/OgpMeta.astro
  src/components/layouts/HeadMeta/internals/SNSMeta.astro
  src/components/layouts/HeadMeta/internals/ogp/OgpArticleMeta.astro
  src/components/layouts/HeadMeta/internals/ogp/OgpProfileMeta.astro
  src/components/layouts/HeadMeta/internals/ogpType.ts
  src/components/layouts/HeadMeta/internals/snsType.ts
  src/components/layouts/HeadMeta/types.ts
  src/layouts/Layout.astro
  src/pages/articles/[id]/index.astro
  src/pages/articles/index.astro
  src/pages/casts/[id]/index.astro
  src/pages/casts/index.astro
  src/pages/guidelines/[id]/index.astro
  src/pages/guidelines/index.astro
  src/pages/index.astro
Due: typecheck, lint

fix: #102 Canonical URL を動的に設定
  src/components/layouts/HeadMeta/internals/SecurityMeta.astro
Due: typecheck

fix: #102 og:image の width, height, type を自動計算
  src/components/layouts/HeadMeta/internals/OgpMeta.astro
  src/components/layouts/HeadMeta/internals/SNSMeta.astro
  src/components/layouts/HeadMeta/types.ts
  src/layouts/Layout.astro
Due: typecheck, lint

fix: #102 JSON-LD 構造化データの実装
  package.json
  src/components/layouts/HeadMeta/HeadMeta.astro
  src/components/layouts/HeadMeta/internals/JsonLdMeta.astro
  src/components/layouts/HeadMeta/types.ts
  src/layouts/Layout.astro
  src/lib/utils/url.ts
  src/pages/articles/[id]/index.astro
  src/pages/articles/index.astro
  src/pages/casts/[id]/index.astro
  src/pages/casts/index.astro
  src/pages/guidelines/[id]/index.astro
  src/pages/guidelines/index.astro
  src/pages/index.astro
  yarn.lock
Due: typecheck, lint

fix: format
  src/components/layouts/HeadMeta/internals/ogp/OgpArticleMeta.astro
  src/pages/articles/[id]/index.astro
  src/pages/articles/index.astro
  src/pages/casts/[id]/index.astro
  src/pages/guidelines/[id]/index.astro
Due: typecheck

fix: #102 JSON-LD に含まれる画像URLを絶対URLに修正
  src/components/layouts/HeadMeta/internals/OgpMeta.astro
  src/components/layouts/HeadMeta/internals/SNSMeta.astro
  src/components/layouts/HeadMeta/internals/ogpType.ts
  src/components/layouts/HeadMeta/internals/snsType.ts
  src/components/layouts/HeadMeta/types.ts
  src/pages/articles/[id]/index.astro
  src/pages/articles/index.astro
  src/pages/casts/[id]/index.astro
  src/pages/casts/index.astro
  src/pages/guidelines/[id]/index.astro
  src/pages/guidelines/index.astro
  src/pages/index.astro
Due: typecheck, lint

fix: リッチリザルト整備 - ProfilePage 対応と記事リスト追加
  src/pages/casts/[id]/index.astro
  src/pages/index.astro
Due: typecheck

fix: OGP画像URLを絶対URLに統一
  src/pages/articles/[id]/index.astro
  src/pages/articles/index.astro
  src/pages/casts/[id]/index.astro
  src/pages/casts/index.astro
  src/pages/guidelines/[id]/index.astro
  src/pages/guidelines/index.astro
  src/pages/index.astro
Due: typecheck

fix: format
  src/pages/index.astro
Due: typecheck

fix: #106 シャッフル禁止モードを追加
  src/lib/browsers/shuffle.ts
Due: typecheck, lint

feat: #107 youtube logo の追加
  src/components/decoratives/Links/SocialLink/SocialLink.astro
  src/components/decoratives/Links/SocialLink/internals/YouTubeLink.astro
  src/components/decoratives/Vectors/LogoIcon/LogoIcon.astro
  src/components/decoratives/Vectors/LogoIcon/internals/YouTubeLogo.astro
  src/components/decoratives/Vectors/LogoIcon/types.ts
Due: typecheck, lint

feat: #110 SNSリンクの色カスタマイズ機能を追加
  src/components/decoratives/Links/SocialLink/SocialLink.astro
  src/components/decoratives/Links/SocialLink/internals/BlueSkyLink.astro
  src/components/decoratives/Links/SocialLink/internals/GitHubLink.astro
  src/components/decoratives/Links/SocialLink/internals/MastodonLink.astro
  src/components/decoratives/Links/SocialLink/internals/MisskeyLink.astro
  src/components/decoratives/Links/SocialLink/internals/OtherLink.astro
  src/components/decoratives/Links/SocialLink/internals/PixivBoothLink.astro
  src/components/decoratives/Links/SocialLink/internals/PixivFanboxLink.astro
  src/components/decoratives/Links/SocialLink/internals/PixivVroidHubLink.astro
  src/components/decoratives/Links/SocialLink/internals/VRChatLink.astro
  src/components/decoratives/Links/SocialLink/internals/XLink.astro
  src/components/decoratives/Links/SocialLink/internals/YouTubeLink.astro
  src/components/decoratives/Links/SocialLink/internals/commons/IconLinkBase.astro
  src/components/decoratives/Links/SocialLink/type.ts
  src/components/layouts/Footer/Footer.astro
  src/components/layouts/Header/internals/HeaderNav.astro
Due: typecheck, lint

fix: 店員さんのデータ取得でタイムアウトが発生していたっぽい！これ開発モードだけ再現してたっぽいけど、デプロイでおきてたらやばばばばば
  scripts/server/image-proxy/type.ts
  yarn.lock
Due: typecheck, lint

fix: timeout による fetch 失敗回避 / ファイル非存在エラーの回避
  astro.config.ts
  package.json
  scripts/prepare/assets/videos/ffmpeg.ts
  scripts/server/image-proxy/server.ts
  scripts/server/image-proxy/type.ts
  scripts/vite/ghost-file.ts
  scripts/vite/index.ts
  scripts/vite/internals/mediainfo.ts
  scripts/vite/type.ts
  scripts/vite/video-plugin.ts
  src/components/pages/home/HeroSection/internals/HeroMovie.astro
  src/pages/index.astro
  yarn.lock
Due: typecheck, lint

feat: #118 seo改善ページごとにh1タグ追加
  src/assets/css/index.css
  src/components/decoratives/Headings/PageHeading.astro
  src/components/pages/home/HeroSection/internals/OverlayPopText.astro
  src/pages/casts/[id]/index.astro
Due: typecheck

pandacss公式のスタイルに変更
  src/assets/css/index.css
  src/components/pages/home/HeroSection/internals/OverlayPopText.astro
  src/pages/casts/[id]/index.astro
Due: typecheck

fix: #121 店員さんデータのソース移動
  src/content/casts/internals/cms-type.ts
  src/content/casts/internals/remote.ts
  src/content/casts/loader.ts
  src/lib/utils/microcms.ts
Due: typecheck, lint

fix: #121 後片付け (不要なデータの削除)
  .env.template
  .github/workflows/deploy.yml
  astro.config.ts
  src/lib/utils/env.ts
Due: typecheck, lint

refactor: #121 CMS レスポンスデータの型の持ち方を全体統一
  src/content/articles/index.ts
  src/content/articles/internals/cms-type.ts
  src/content/articles/internals/remote.ts
  src/content/casts/index.ts
  src/content/guidelines/index.ts
  src/content/guidelines/internals/cms-type.ts
  src/content/guidelines/internals/remote.ts
  src/content/meta/index.ts
  src/content/meta/internals/cms-type.ts
  src/content/meta/internals/remote.ts
Due: typecheck, lint

hotfix: キャストが消えた
  src/content/casts/loader.ts
Due: typecheck, lint

Path conditions:
  typecheck: any of: *.{ts,tsx,js,jsx,astro}, but not: .yarn
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}, but not: .yarn
