Repository pplevrc/web: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint

lefthook.yml:

pre-commit:
  commands:
    typecheck:
      glob: "*.{ts,tsx,js,jsx,astro}"
      exclude: .yarn
      run: yarn typecheck
      stage_fixed: true

    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      exclude: .yarn
      run: yarn biome --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

hotfix: 店員さんのデータが CMS 側のレスポンス行数に依存して最新の数名のみとなってしまったことへの対処
  src/content/casts/internals/remote.ts
Due: typecheck, lint

docs: add antigravity configuration (rules, workflows, skills)
  .agent/rules/avoid_any_types.md
  .agent/rules/enforce_unidirectional_data_flow.md
  .agent/rules/follow_naming_conventions.md
  .agent/rules/optimize_astro_usage.md
  .agent/rules/organize_component_structure.md
  .agent/rules/separate_business_logic.md
  .agent/rules/simplify_control_flow.md
  .agent/rules/use_semantic_html.md
  .agent/rules/write_comments_in_japanese.md
  .agent/rules/write_meaningful_comments.md
  .agent/skills/refactoring_guide.md
  .agent/workflows/refactor_page.md
  .agent/workflows/verify.md
Due: none

fix: #100 home 画面配下をリファクタリング
  TODO.md
  src/components2/pages/home/CastPickupSection/CastPickupSection.astro
  src/components2/pages/home/CastPickupSection/internals/FeaturedApprentice.astro
  src/components2/pages/home/HeroSection/HeroSection.astro
  src/components2/pages/home/HeroSection/internals/HeroMovie.astro
  src/components2/pages/home/HeroSection/internals/OverlayPopText.astro
  src/components2/pages/home/HomePickupSection/HomePickupSection.astro
  src/components2/pages/home/NewsHeadlineSection/NewsHeadlineSection.astro
  src/components2/pages/home/index.astro
  src/pages/index.astro
  tsconfig.json
Due: typecheck, lint

fix: #100 cast-list 画面配下をリファクタリング
  .agent/rules/organize_component_structure.md
  TODO.md
  src/components2/pages/cast-list/CastListNavigator/CastListNavigator.astro
  src/components2/pages/cast-list/CastListNavigator/internals/CastList.astro
  src/components2/pages/cast-list/index.astro
  src/pages/casts/index.astro
  src/pages/index.astro
Due: typecheck

fix: #100 バストアップ画像リンクコンポーネントを DecorativeAvatar から分離
  src/components/pages/cast/CastNavigator/CastNavigator.astro
  src/components2/domains/avatar/CastBustUpLink/CastBustUpLink.astro
  src/components2/pages/cast-list/CastListNavigator/internals/CastList.astro
Due: typecheck

fix(cast-detail): fix incorrect component migration for avatar name seals
  src/components/domains/avatar/DecorativeAvatar/DecorativeAvatar.astro
  src/components/pages/cast/CastListNavigator/CastListNavigator.astro
  src/components2/pages/cast-detail/CastImageSection/CastImageSection.astro
  src/components2/pages/cast-detail/CastImageSection/internals/CastMainVisual.astro
  src/components2/pages/cast-detail/CastImageSection/internals/CharSeal.astro
  src/components2/pages/cast-detail/CastImageSection/internals/CircularNameSeals.astro
  src/components2/pages/cast-detail/CastNavigator/CastNavigator.astro
  src/components2/pages/cast-detail/CastProfileSection/CastProfileSection.astro
  src/components2/pages/cast-detail/index.astro
  src/pages/casts/[id]/index.astro
Due: typecheck

refactor(article): migrate article list page to components2
  TODO.md
  src/components/pages/articles/ArticleContentSection/ArticleContentSection.astro
  src/components2/domains/article/LetterLink/LetterLink.astro
  src/components2/domains/image/PhotoImage/PhotoImage.astro
  src/components2/pages/article-list/ArticleDateShortcut/ArticleDateShortcut.astro
  src/components2/pages/article-list/ArticleList/ArticleList.astro
  src/components2/pages/article-list/index.astro
  src/components2/pages/cast-detail/CastImageSection/internals/CastMainVisual.astro
  src/components2/pages/home/NewsHeadlineSection/NewsHeadlineSection.astro
  src/pages/articles/index.astro
Due: typecheck

refactor(article): migrate article detail page to components2
  TODO.md
  src/components2/pages/article-detail/ArticleContentSection/ArticleContentSection.astro
  src/components2/pages/article-detail/ArticleNavigation/ArticleNavigation.astro
  src/components2/pages/article-detail/index.astro
  src/pages/articles/[id]/index.astro
Due: typecheck

refactor(guideline): migrate guideline list page to components2
  TODO.md
  src/components2/pages/guideline-list/GuidelineLink/GuidelineLink.astro
  src/components2/pages/guideline-list/GuidelineList/GuidelineList.astro
  src/components2/pages/guideline-list/index.astro
  src/pages/guidelines/index.astro
Due: typecheck

refactor(guideline): migrate guideline detail page to components2
  TODO.md
  src/components2/pages/guideline-detail/GuidelineContentSection/GuidelineContentSection.astro
  src/components2/pages/guideline-detail/GuidelineNavigation/GuidelineNavigation.astro
  src/components2/pages/guideline-detail/index.astro
  src/pages/guidelines/[id]/index.astro
Due: typecheck

fix: キャストピックアップの当たり判定修正
  src/components/pages/home/CastPickupSection/CastPickupSection.astro
Due: typecheck

fix: 未使用コンポーネントの削除と、共通化されているコンポーネントの分離
  src/components/domains/avatar/CastBustUpLink/CastBustUpLink.astro
  src/components/domains/avatar/DecorativeAvatar/DecorativeAvatar.astro
  src/components/domains/avatar/DecorativeAvatar/medium/Medium.astro
  src/components/domains/avatar/DecorativeAvatar/small/Small.astro
  src/components/domains/avatar/DecorativeAvatar/type.ts
  src/components/domains/avatar/DecorativeAvatarLink/DecorativeAvatarLink.astro
  src/components/domains/avatar/NameSeal/NameSeal.astro
  src/components/domains/avatar/StripeCircle/StripeCircle.astro
  src/components/domains/avatar/images/AvatarFaceImage.astro
  src/components/domains/cast/CastList/CastList.astro
  src/components/layouts/Sections/HomePickupSection/HomePickupSection.astro
  src/components/pages/cast-detail/CastImageSection/CastImageSection.astro
  src/components/pages/cast-detail/CastImageSection/internals/CastMainVisual.astro
  src/components/pages/cast-detail/CastNavigator/CastNavigator.astro
  src/components/pages/cast-detail/CastProfileSection/CastProfileSection.astro
  src/components/pages/cast-detail/Copyright/Copyright.astro
  src/components/pages/cast-detail/Copyright/internals/CopyrightButton.astro
  src/components/pages/cast-detail/Copyright/internals/CopyrightPopover.astro
  src/components/pages/cast-detail/NameSticker/NameSticker.astro
  src/components/pages/cast-detail/NameStickerList/NameStickerList.astro
  src/components/pages/home/CastPickupSection/internals/FeaturedApprentice.astro
  src/components/pages/home/HeroSection/HeroSection.astro
  src/components/pages/home/HeroSection/internals/HeroMovie.astro
  src/components/pages/home/ResponsiveVideo/ResponsiveVideo.astro
  src/components/pages/home/ResponsiveVideo/internals/ResponsiveVideoSource.astro
  src/components/pages/home/ScreenFitSection/ScreenFitSection.astro
Due: typecheck, lint

fix: biome
  src/components/domains/avatar/CastBustUpLink/CastBustUpLink.astro
  src/components/pages/cast-detail/CastImageSection/internals/CastMainVisual.astro
  src/components/pages/cast-detail/NameSticker/NameSticker.astro
  src/components/pages/home/CastPickupSection/internals/FeaturedApprentice.astro
Due: typecheck

fix: #126 リンクのパスとファイルのパスが一致しないのを一括修正
  TODO.md
  src/components/domains/avatar/CastBustUpLink/CastBustUpLink.astro
  src/components/layouts/HeadMeta/internals/FaviconMeta.astro
  src/components/layouts/Header/internals/HeaderLogo.astro
  src/components/layouts/Header/internals/HeaderNav.astro
  src/components/pages/article-detail/ArticleNavigation/ArticleNavigation.astro
  src/components/pages/article-list/ArticleList/ArticleList.astro
  src/components/pages/cast-detail/CastNavigator/CastNavigator.astro
  src/components/pages/guideline-detail/GuidelineNavigation/GuidelineNavigation.astro
  src/components/pages/guideline-list/GuidelineLink/GuidelineLink.astro
  src/components/pages/home/CastPickupSection/CastPickupSection.astro
  src/components/pages/home/HeroSection/internals/OverlayPopText.astro
  src/components/pages/home/NewsHeadlineSection/NewsHeadlineSection.astro
  src/content/casts/types.ts
  src/lib/utils/base-path.ts
  src/lib/utils/url.ts
  src/pages/404.astro
  src/pages/articles/[id]/index.astro
  src/pages/articles/index.astro
  src/pages/casts/[id]/index.astro
  src/pages/casts/index.astro
  src/pages/guidelines/[id]/index.astro
  src/pages/guidelines/index.astro
  src/pages/index.astro
Due: typecheck, lint

fix: biome format
  src/components/domains/avatar/CastBustUpLink/CastBustUpLink.astro
Due: typecheck

chore: update documents
  .agent/rules/organize_component_structure.md
  .agent/rules/restrict_imports.md
  .agent/skills/directory_structure.md
  .cursor/rules/coding.mdc
  README.md
  docs/coding-guidelines.md
Due: none

fix: #128 お手紙リンクの見た目が変なのを色々手直し
  .vscode/project.code-workspace
  src/components/decoratives/Vectors/Shapes/LetterShapes.astro
  src/components/domains/article/LetterLink/LetterLink.astro
Due: typecheck

feat: イベントサイトの大半を作り込んだ
  astro.config.ts
  src/assets/images/events/202604-april-fool/date-info.png
  src/assets/images/events/202604-april-fool/dummy-topics-thumbnail.png
  src/assets/images/events/202604-april-fool/lace.svg
  src/assets/images/events/202604-april-fool/logo.png
  src/assets/images/events/202604-april-fool/title-character.png
  src/assets/images/events/202604-april-fool/title-introduction.png
  src/assets/images/events/202604-april-fool/title-maintheme.png
  src/assets/images/events/202604-april-fool/title-movie.png
  src/assets/images/events/202604-april-fool/title-onair.png
  src/components/layouts/HeadMeta/internals/DescriptionMeta.astro
  src/components/layouts/HeadMeta/types.ts
  src/components/pages/events/202604-april-fool/CharacterSection/CharacterSection.astro
  src/components/pages/events/202604-april-fool/CharacterSection/internals/CharacterSet.astro
  src/components/pages/events/202604-april-fool/Footer/Footer.astro
  src/components/pages/events/202604-april-fool/HeroSection/HeroSection.astro
  src/components/pages/events/202604-april-fool/IntroductionSection/IntroductionSection.astro
  src/components/pages/events/202604-april-fool/MovieSection/MovieSection.astro
  src/components/pages/events/202604-april-fool/MusicSection/MusicSection.astro
  src/components/pages/events/202604-april-fool/OnairSection/OnairSection.astro
  src/components/pages/events/202604-april-fool/common/LaceDivider.astro
  src/components/pages/events/202604-april-fool/common/casts.ts
  src/components/pages/events/202604-april-fool/index.astro
  src/layouts/Blank.astro
  src/layouts/Layout.astro
  src/pages/events/202604-april-fool/index.astro
Due: typecheck, lint

update: カルーセル追加と外観全体の調整
  src/components/pages/events/202604-april-fool/CharacterSection/CharacterSection.astro
  src/components/pages/events/202604-april-fool/CharacterSection/internals/CharacterSet.astro
  src/components/pages/events/202604-april-fool/IntroductionSection/IntroductionSection.astro
  src/components/pages/events/202604-april-fool/MovieSection/MovieSection.astro
  src/components/pages/events/202604-april-fool/MusicSection/MusicSection.astro
  src/components/pages/events/202604-april-fool/OnairSection/OnairSection.astro
Due: typecheck

update: 画像差し替え以外のサイト外観作業を完了
  src/components/pages/events/202604-april-fool/CharacterSection/CharacterSection.astro
  src/components/pages/events/202604-april-fool/CharacterSection/internals/CharacterSet.astro
Due: typecheck

fix: 一部のアセットを反映
  src/assets/images/events/202604-april-fool/chara-hiraxu.png
  src/assets/images/events/202604-april-fool/chara-stora.png
  src/components/pages/events/202604-april-fool/CharacterSection/CharacterSection.astro
  src/components/pages/events/202604-april-fool/CharacterSection/internals/CharacterSet.astro
  src/components/pages/events/202604-april-fool/MovieSection/MovieSection.astro
  src/components/pages/events/202604-april-fool/MusicSection/MusicSection.astro
  src/components/pages/events/202604-april-fool/common/casts.ts
Due: typecheck, lint

fix: event ページをインデックスしない設定
  src/pages/robots.txt.ts
Due: typecheck, lint

fix: タイトルが違う
  src/pages/events/202604-april-fool/index.astro
Due: typecheck

fix: コピーライトは正直にする
  src/components/pages/events/202604-april-fool/Footer/Footer.astro
Due: typecheck

fix: キャラクター切り替えのドットをPCのみ間隔を開ける
  src/components/pages/events/202604-april-fool/CharacterSection/CharacterSection.astro
Due: typecheck

update: おうかちゃん画像反映
  src/assets/images/events/202604-april-fool/chara-ouka.png
  src/components/pages/events/202604-april-fool/common/casts.ts
Due: typecheck, lint

fix: 画像差し替え
  src/assets/images/events/202604-april-fool/chara-hiraxu.png
  src/assets/images/events/202604-april-fool/chara-ouka.png
  src/assets/images/events/202604-april-fool/chara-sao.png
  src/assets/images/events/202604-april-fool/chara-stora.png
  src/components/pages/events/202604-april-fool/common/casts.ts
Due: typecheck, lint

fix: h2 セクションタイトルが一定 viewport サイズ以上だと画像サイズが固定になる問題の対応
  src/components/pages/events/202604-april-fool/CharacterSection/CharacterSection.astro
  src/components/pages/events/202604-april-fool/IntroductionSection/IntroductionSection.astro
  src/components/pages/events/202604-april-fool/MovieSection/MovieSection.astro
  src/components/pages/events/202604-april-fool/MusicSection/MusicSection.astro
  src/components/pages/events/202604-april-fool/OnairSection/OnairSection.astro
Due: typecheck

update: メインテーマのジャケット仮置き・販売サイトへのリンク追加
  src/assets/images/events/202604-april-fool/music-cover.png
  src/components/pages/events/202604-april-fool/MusicSection/MusicSection.astro
Due: typecheck

update: 楽曲ロゴ反映
  src/assets/images/events/202604-april-fool/music-title.png
  src/components/pages/events/202604-april-fool/MusicSection/MusicSection.astro
Due: typecheck

fix: カバー画像最終盤へ差し替え
  src/assets/images/events/202604-april-fool/dummy-topics-thumbnail.png
  src/assets/images/events/202604-april-fool/music-cover.png
Due: none

fix: 楽曲関係者のソーシャルリンク反映
  src/components/pages/events/202604-april-fool/MusicSection/MusicSection.astro
  src/layouts/Blank.astro
  src/pages/events/202604-april-fool/index.astro
  src/pages/index.astro
Due: typecheck

fix: 店員さんデータベースからの切り離し (引退時に壊れないことを保証)
  src/components/pages/events/202604-april-fool/CharacterSection/CharacterSection.astro
  src/components/pages/events/202604-april-fool/MusicSection/MusicSection.astro
  src/components/pages/events/202604-april-fool/common/casts.ts
Due: typecheck, lint

update: 一部の自己紹介を反映
  src/components/pages/events/202604-april-fool/CharacterSection/CharacterSection.astro
  src/components/pages/events/202604-april-fool/CharacterSection/internals/CharacterSet.astro
  src/components/pages/events/202604-april-fool/common/casts.ts
Due: typecheck, lint

update: 20260401 に限り、初回のアクセスでイベントページに遷移する仕組みを追加
  src/lib/utils/event.ts
  src/pages/index.astro
Due: typecheck, lint

update: footer にイラストレーター情報を追加
  src/components/pages/events/202604-april-fool/Footer/Footer.astro
Due: typecheck

update: 残りのプロフィール更新
  src/components/pages/events/202604-april-fool/common/casts.ts
Due: typecheck, lint
